<div *ngIf="gameStarted">
  <app-game-input (submitedWordNotify)="gameSubmitedWordNotify($event)"></app-game-input>
  <app-game-gotten-letters (sendGottenLetters)="gameGottenLetters($event)" [myDictionary]="dictionary"></app-game-gotten-letters>
  <app-game-words-list (sendDictionary)="transferDictionary($event)" [submitedWord]="submitedWord" [validLetters]="validLetters"></app-game-words-list>
</div>
<div class="bg-success btn-lg text-white text-center" *ngIf="!gameStarted" (click)="gameStarting()">Започни со играта</div>

