<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="d-flex justify-content-center my-3">
          <button type="button" class="btn btn-primary">
            Поени <span class="badge badge-light">{{ currentGameTotalPoints }}</span>
          </button>
          <button type="button" class="btn btn-info ml-3">
            Вкупно поени <span class="badge badge-light">{{ totalUserPoints }}</span>
          </button>
        </div>
      </div>
    </div>
</div>
<div class="row" *ngIf="latestWord">
  <div class="col-12">
    <div class="alert alert-danger mt-1" role="alert" *ngIf="wordExist">
      Зборот е веќе внесен! Обиди се со друг збор.
    </div>
    <ul *ngFor="let word of submitedWords" class="list-group">
      <li class="list-group-item my-1" [ngClass]="{'bg-success': word.isValid, 'bg-danger': !word.isValid}">{{word.content}}<span
          *ngIf="word.points" class="font-weight-bold"> | {{word.points}} поени</span></li>
    </ul>
  </div>
</div>
