<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="http://ivokostovski.com/img/avatar.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Designer</h5>
                    <p class="card-text text-center">Ivo Kostovski</p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="https://image.ibb.co/d9QhQq/Screenshot-1.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Full-stack Developer</h5>
                    <p class="card-text text-center">Ivo Kostovski</p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="https://image.ibb.co/dJuyyA/Screenshot-2.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Project Manager</h5>
                    <p class="card-text text-center">Ivo Kostovski</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>