<div class="row">
  <div class="col-12">
    <div class="text-center font-weight-bold mb-2" *ngIf="timer">
      Време: {{ timer }} секунди
      <mat-progress-bar mode="determinate" [value]="timer"></mat-progress-bar>
    </div>
    <div class="text-center font-weight-bold mb-2" *ngIf="!timer">
      Играта заврши!
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <form [formGroup]="rForm" (ngSubmit)="addWord(rForm.value)">
        <div class="form-group text-center">
          <input type="text" maxlength="12" class="form-control" placeholder="Внеси збор" formControlName="content" [value]="inputValue">
            <div class="alert alert-danger mt-1" role="alert" *ngIf="!rForm.controls['content'].valid && rForm.controls['content'].touched">
              Зборот кој го внесуваш треба да биде напишан на кирилица, и да има помеѓу 2 и 12 букви!
            </div>
          <button type="submit" class="btn btn-lg btn-primary mt-2" [disabled]="!rForm.valid || !timer">Внеси</button>
        </div>
    </form>
  </div>
</div>
